* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #ccc;
}

header .content-pokedex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

header .content-pokedex .img-pokedex {
    border: none;
    background: transparent;
    width: 200px;
    cursor: pointer;
}

header .content-pokedex .img-pokedex img {
    width: 100%;
}

header .content-pokedex .generacion {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

header .content-pokedex .generacion .arrow-left {
    width: 0;
    height: 0;
    border-top: 15px solid rgba(255, 0, 0, 0);
    border-left: 15px solid rgba(49, 173, 18, 0);
    border-bottom: 15px solid rgba(255, 251, 0, 0);
    border-right: 15px solid rgb(97, 221, 159);
    border-radius: 5px;
    cursor: pointer;
}

header .content-pokedex .generacion .order {
    margin: auto;
    padding: 5px;
    font-weight: 600;
}

header .content-pokedex .generacion .arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid rgba(255, 0, 0, 0);
    border-left: 15px solid rgb(97, 221, 159);
    ;
    border-bottom: 15px solid rgba(255, 251, 0, 0);
    border-right: 15px solid rgba(255, 0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

header .content-pokedex .generacion .generation__button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

header .content-pokedex .generacion .generation__button span{
    font-size: 2rem;
}

header .content-pokedex .generacion .generation__button:hover {
    animation: search 1s linear infinite;
    -webkit-animation: search 1s linear infinite;
}

@keyframes search {
    0% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
    }

    25% {
        transform: translateX(5px);
        -webkit-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
    }

    50% {
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-transform: translateY(5px);
    }

    100% {
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        -o-transform: translateX(-5px);
    }
}

header .content-search {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

header .content-search .search-pokemon {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

header .content-search .search-pokemon input {
    height: 40px;
    padding: 5px;
    border: none;
    border-top: 2px solid crimson;
    border-bottom: 2px solid crimson;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    margin: 10px 5px;
    text-align: center;
}

header .content-search .search-pokemon input::placeholder {
    text-align: center;
}

header .content-search .search-pokemon .btn-search-pokemon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;

}

header .content-search .search-pokemon .btn-search-pokemon:hover{
    animation: giro 1s linear infinite;
    -webkit-animation: giro 1s linear infinite;
}

header .content-search .search-pokemon .btn-search-pokemon img {
    width: 40px;
}

@keyframes giro{
    0%{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
}
25%{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
50%{
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}
100%{
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
}
}

main {
    width: 100%;
    padding: 20px;
}

/************* pokedex ********************/
main .pokedex-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.card_pokemon {
    width: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .7);
    border-top: 1px solid #d6c887;
    border-bottom: 1px solid #d6c887;
    text-align: center;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.num-pokemon {
    background-color: #EEE8AA;
    position: absolute;
    top: -1px;
    left: 0;
    padding: 5px 10px;
    border-radius: 10px 0 10px;
    -webkit-border-radius: 10px 0 10px;
    -moz-border-radius: 10px 0 10px;
    -ms-border-radius: 10px 0 10px;
    -o-border-radius: 10px 0 10px;
}

.stats-pokemon {
    padding-top: 5px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .3s ease-in;
    transform: translateY(101%);
    -webkit-transform: translateY(101%);
    -moz-transform: translateY(101%);
    -ms-transform: translateY(101%);
    -o-transform: translateY(101%);
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    overflow: auto;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .7);
    border-radius: 10px 10px 0;
    -webkit-border-radius: 10px 10px 0;
    -moz-border-radius: 10px 10px 0;
    -ms-border-radius: 10px 10px 0;
    -o-border-radius: 10px 10px 0;
}

.card_pokemon:hover .stats-pokemon {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}


/**************** Ventana modal ********************/

main .modal-container {
    width: 100%;
    max-height: 100vh;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

main .modal-container.active {
    display: flex;
}

main .modal-container .modal {
    width: 500px;
    height: 450px;
    position: relative;
    padding: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    display: flex;
    align-items: center;
    justify-content: center;
}

main .modal-container .modal .btn_modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card_pokemon-modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .7);
    border-top: 1px solid #d6c887;
    border-bottom: 1px solid #d6c887;
    text-align: center;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.name-pokemon {
    text-align: center;
    font-size: 26px;
    padding: 15px 0;
}

.img_pokemon {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

img {
    width: 100%;
    filter: drop-shadow(0 5px 3px black);
    -webkit-filter: drop-shadow(0 5px 3px black);
}

.tipo-pokemon,
.num-pokemon {
    text-align: center;
    font-weight: 600;
    padding: 10px 0;
}

.num-pokemon-modal {
    background-color: #EEE8AA;
    position: absolute;
    top: -1px;
    left: 0;
    padding: 5px 10px;
    border-radius: 10px 0 10px;
    -webkit-border-radius: 10px 0 10px;
    -moz-border-radius: 10px 0 10px;
    -ms-border-radius: 10px 0 10px;
    -o-border-radius: 10px 0 10px;
}

.stats-pokemon-modal {
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px 10px 0;
    -webkit-border-radius: 10px 10px 0;
    -moz-border-radius: 10px 10px 0;
    -ms-border-radius: 10px 10px 0;
    -o-border-radius: 10px 10px 0;
}

.stats-header {
    padding: 10px;
}

.stat-container {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.stat-name {
    padding-left: 5px;
}

.stat-valor {
    padding-right: 5px;
}

.stat-name,
.stat-valor {
    font-weight: 600;
}